* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color-scheme: light dark;
  font-size: clamp(2.25rem, 1.467rem + 3.913vw, 4.5rem);
}

#root {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100dvh;
}

a {
  text-decoration: none;
}

a,
a:visited {
  color: lavander;
}

a:hover {
  color: lightblue;
}
