component-footer {
  position: sticky;
  top: 100dvh;
}

.container {
  font-size: 0;
}

.column {
  display: inline-block;
  font-size: initial;
  vertical-align: top;
}

.side {
  overflow: hidden;
  width: calc(100% / 4);
}

.center {
  width: calc(100% / 2);
}

.center > * {
  padding: 0 1rem;
}

ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0.5rem 0;
}
