a {
  color: light-dark(var(--ctp-latte-blue), var(--ctp-mocha-blue));
  text-decoration: none;
}

li {
  list-style: none;
}

ol {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}
