<template id="component-footer">
  <div class="fragment">
    <div class="container">
      <div class="column" data-block="s-7">
        <p>Links</p>
        <ol>
          <li>
            <small><a href="https://github.com/fruzitent/kpi">GitHub</a></small>
          </li>
        </ol>
      </div>
      <div class="column" data-block="s-y">
        <p class="notice">
          Made with <a href="https://catppuccin.com">Catppuccin</a>
        </p>
      </div>
    </div>
  </div>
</template>
