.fragment {
  font-size: 0;
}

.column {
  display: inline-block;
  font-size: initial;
  vertical-align: top;
  width: 50%;
}

.fragment {
  padding: 1rem;
}

[data-block="s-y"] {
  text-align: right;
}

.fragment {
  background: light-dark(var(--ctp-latte-mantle), var(--ctp-mocha-mantle));
}

.notice a {
  color: light-dark(var(--ctp-latte-mauve), var(--ctp-mocha-mauve));
}

p {
  color: light-dark(var(--ctp-latte-text), var(--ctp-mocha-text));
}

li {
  padding: 0.25rem 0;
}

@media screen and (max-width: 768px) {
  .column {
    width: 100%;
  }
  [data-block="s-y"] {
    text-align: initial;
  }
}
