form {
  text-align: right;
}

/* TODO: resize on line break */
textarea {
  border: 0;
  padding: 0;
  resize: none;
  width: 100%;
  background: none;
}

textarea:focus {
  outline: none;
}

button {
  background: linear-gradient(
    120deg,
    light-dark(var(--ctp-latte-pink), var(--ctp-mocha-pink)),
    light-dark(var(--ctp-latte-mauve), var(--ctp-mocha-mauve))
  );
  border-radius: 2rem;
  border: none;
  color: light-dark(var(--ctp-mocha-text), var(--ctp-latte-text));
  font-weight: bold;
  padding: 0.5rem 1rem;
}

button:hover {
  background: linear-gradient(
    120deg,
    light-dark(var(--ctp-latte-teal), var(--ctp-mocha-teal)),
    light-dark(var(--ctp-latte-green), var(--ctp-mocha-green))
  );
  cursor: pointer;
}
