h1 {
  background-image: linear-gradient(
    120deg,
    light-dark(var(--ctp-latte-peach), var(--ctp-mocha-peach)),
    light-dark(var(--ctp-latte-mauve), var(--ctp-mocha-mauve))
  );
  background-clip: text;
  color: transparent;
  margin: 0;
}

.fragment {
  font-size: 0;
}

.column {
  display: inline-block;
  font-size: initial;
  vertical-align: middle;
  width: 50%;
}

.fragment {
  padding: 1rem;
}

[data-block="s-1"] {
  text-align: right;
}
