<template id="layout-default">
  <component-header></component-header>
  <main class="container">
    <div class="column side">
      <div data-block="s-2"><component-navbar></component-navbar></div>
    </div>
    <div class="column center">
      <div data-block="s-3"><component-form></component-form></div>
      <div data-block="s-5">
        <slot name="children"></slot>
      </div>
    </div>
    <div class="column side">
      <div data-block="s-4"><component-trends></component-trends></div>
      <div data-block="s-6"><component-search></component-search></div>
    </div>
  </main>
  <component-footer></component-footer>
</template>

<script src="./src/components/footer.ts" type="module"></script>
<script src="./src/components/form.ts" type="module"></script>
<script src="./src/components/header.ts" type="module"></script>
<script src="./src/components/navbar.ts" type="module"></script>
<script src="./src/components/post.ts" type="module"></script>
<script src="./src/components/search.ts" type="module"></script>
<script src="./src/components/trends.ts" type="module"></script>
